---
title: Gallery
layout: page
description: My photography works.
header-img: "img/home-bg-o.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
	.imgwallframe{
	display: flex;
    flex-wrap: wrap;
    object-fit: cover
	}

	.imgwall{
	height: 300px;
    flex-grow: 1;
    width:auto;
	}
</style>

<div class="container-fluid">
			<div class="imgwallframe">
			    <img class="imgwall" src="img/ricoh1.jpg"/>

		        <img class="imgwall" src="img/ricoh2.jpg" />

		   		<img class="imgwall" src="img/thailand1.jpg" />
		   		
		   		<img class="imgwall" src="img/IMG_5204.jpg" />

		   		<img class="imgwall" src="img/ricoh3.jpg" />
		   		
		   		<img class="imgwall" src="img/andog.jpg"/>
		   		
		   		<img class="imgwall" src="img/IMG_6994.jpg" />

		   		<img class="imgwall" src="img/ricoh4.jpg" /
		   			
		   		<img class="imgwall" src="img/dong3.jpg" />
		   				   				   		
		   		<img class="imgwall" src="img/IMG_7231副本.jpg" />
		   		
		   		<img class="imgwall" src="img/IMG_5348.JPG" />

		   		<img class="imgwall" src="img/ricoh5.jpg" />
		   		
		   		<img class="imgwall" src="img/熟梨糕.jpg" />

		   		<img class="imgwall" src="img/ricoh6.jpg" />
		   		
		   		<img class="imgwall" src="img/IMG_0136.jpg" />

		   		<img class="imgwall" src="img/ricoh7.jpg" />
		   		
		   		<img class="imgwall" src="img/5.jpg" />
		   		
		   		<img class="imgwall" src="img/IMG_8099.jpg" />

		   		<img class="imgwall" src="img/dong1.jpg" />

		   		<img class="imgwall" src="img/dong.jpg" />
		   		
		   		<img class="imgwall" src="img/4.jpg" />
		   		
		   		<img class="imgwall" src="img/IMG_8679.jpg" />

		   		<img class="imgwall" src="img/chengde.jpg" />
		   		
		   		<img class="imgwall" src="img/dong2.jpg" />
		   		
		   		<img class="imgwall" src="img/IMG_7100自制滤镜版.jpg" />
		   				   				   		
		   		<img class="imgwall" src="img/IMG_5178.jpg" />
		   		
		   		<img class="imgwall" src="img/thailand.jpg" />
		   		
		   		<img class="imgwall" src="img/ricoh6.jpg" />
		   		
		   		<img class="imgwall" src="img/2.jpg" />
		   		
		   		<img class="imgwall" src="img/IMG_7373.jpg" />
			</div>
	</div>