/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
.slideshow{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.header
{
	
}

.navbar-style
{
	box-shadow: 0 6px 10px dimgrey;
	background-color: black;
	
}

.logo
{
	height: 48px;
	padding: 2px 8px;
}

.icon-bar
{
	background-color: lightskyblue;
}

.dropdown-menu .dropdown_color{
	color: #337ab7;
}

body{

}

.bgcolor{
	background-color: black;
}

div.middle{
	margin: auto;
}

a.btn{
	margin: 30px 10px;
	width: 150px;
	padding: 60px;
	border-radius: 20px;
}

a.btn-trip{
	background: yellow;
	border: 5px;
	color: darkgrey;
}

.overflowhide{
	overflow: hidden;
	height: auto;
}

.imgbtn{
	cursor: pointer;
	transition: all 0.6s;
	width: 100%;
	height: auto;
}

.imgbtn:hover{
	transform: scale(1.4);
}

footer{
	margin-top: 40px;
	margin-bottom: 20px;
	background-color: #0e0e0e;
	color: #337ab7;
	text-align: center;
	font-family: "微软雅黑";
	border-style: solid;
	border-top-width: 5px;
	border-top-color: white;	
	border-bottom-width: 9px;
	border-bottom-color: #444444;	
	border-left-color: #333333;
	border-right-color: #333333;
	box-shadow: 0 6px 10px dimgrey;
}

.imgwallframe{
	display: flex;
    flex-wrap: wrap;
    object-fit: cover
}

.imgwall{
	height: 300px;
    flex-grow: 1;
    width:auto;
}

a{
	height:auto;
	width:auto;
}

/*Back to Top CSS*/
.box{
    position:fixed;
    right:10px;
    bottom: 10px;
    height:50px;
    width: 50px;    
    text-align:center;
    padding-top:20px;    
    background-color: #337ab7;
    border-radius: 20%;
    overflow: hidden;
}
.box:hover:before{
    top:50%
}
.box:hover .box-in{
    visibility: hidden;
}
.box:before{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content:'Top';
    width: 40px;
    color:White;
    font-weight:bold;

}    
.box-in{
    visibility: visible;
    display:inline-block;
    height: 30px solid;
    width: 30px solid;
    border: 3px solid black;
    border-color: white transparent transparent white;
    transform:rotate(45deg);
}
